#topMenu {
  background-color: #f0f0f0;
  box-shadow: none;
  border: none;
}

#middleMenu {
  box-shadow: none;
  border: none;
}

.grey-background {
  background-color: #292929;
  height: 300px;
  padding: 40px 0;
  color: white;
}